.idea

**/__pycache__/**

# Loging
**/app-logs/**
**/app-logs/*.log

**/dataSink
**/dataSink/**

# Spark Database and Table Data
**/spark-warehouse
**/spark-warehouse/**

**/metastore_db
**/metastore_db/**